<script>
	import Input from './Input.svelte';
	  import Incrementer from './Add.svelte';
	  import Del from './Del.svelte';
	  import Reset from './Reset.svelte';
	  import Box from './Box.svelte';
	  import Info from './Info.svelte';
  </script>
  
  <div class="main">
	<div class="block">
	  <Input/>
	</div>
	<div class="block">
	  <Incrementer/>
	  <Del/>
	  <Reset/>
	</div >
	<div class="block">
	  <Info/>
	</div>
	<div class="block">
	  <Box/>
	</div>
  </div>
  
  <style>
  .main{display: flexbox;width: 100%}
  .block:not(:last-child) {
	margin-bottom:  5px;
	margin-top:  5px;
	margin-left:  5px;
	margin-right:  5px;
	max-width: 100%;
  }
  
  </style>
  
  