<script>
	let people = [];

	let prefix = '';
	let fio = '';
	let age = '';
	let i = 0;

	$: filteredPeople = prefix
		? people.filter(person => {
			const name = `${person.age }, ${person.fio}`;
			return name.toLowerCase().startsWith(prefix.toLowerCase());
		})
		: people;

	$: selected = filteredPeople[i];

	$: reset_inputs(selected);

	function create() {
		people = people.concat({ fio, age  });
		i = people.length - 1;
		fio = age  = '';
	}

	function update() {
		selected.fio = fio;
		selected.last = age ;
		people = people;
	}

	function remove() {
		// Remove selected person from the source array (people), not the filtered array
		const index = people.indexOf(selected);
		people = [...people.slice(0, index), ...people.slice(index + 1)];

		fio = age  = '';
		i = Math.min(i, filteredPeople.length - 2);
	}

	function reset_inputs(person) {
		fio = person ? person.fio : '';
		age  = person ? person.age  : '';
	}
</script>

<input placeholder="filter prefix" bind:value={prefix}>

<select bind:value={i} size={5}>
	{#each filteredPeople as person, i}
		<option value={i}>{person.fio }, {person.age}</option>
	{/each}
</select>

<label><input bind:value={fio} placeholder="fio"></label>
<label><input bind:value={age } placeholder="age "></label>

<div class='buttons'>
	<button on:click={create} disabled="{!fio || !age }">create</button>
	<button on:click={update} disabled="{!fio || !age  || !selected}">update</button>
	<button on:click={remove} disabled="{!selected}">delete</button>
</div>

<style>
	* {
		font-family: inherit;
		font-size: inherit;
	}

	input {
		display: block;
		margin: 0 0 0.5em 0;
	}

	select {
		float: left;
		margin: 0 1em 1em 0;
		width: 14em;
	}

	.buttons {
		clear: both;
	}
</style>
