<script>
	import {tick} from 'svelte'
	import {checkHor, checkVert,checkLeftDiag,checkRightDiag} from './helper.js'
	
	let cnt=5 //кол-во ячеек по умолч-ю
	let showModal = false;
	function callback(){
        showModal = !showModal
        reset();
        console.log("Сработало")
      }
	let menu
	//Перезапуск
	async function reset(){
		cnt=0
		await tick()
		cnt=25
		moveX = true
		//Можно также чистить массивы и классы в циклах
		//let ln = document.querySelectorAll(".line")
		//ln.forEach(x=>x.classList.remove('line'))
  }
						
	let wrp_width; //ширина и высота таблицы должны быть равными
	let  wrp_height;
	
	let moveX = true //Первый ход - Х 
	$: currSign= moveX ? 'X':"0"
	
	//2-мерный массив данных (ячейки по умолч-ю пусты)
	$: arr2D = Array.from(Array(cnt), () => Array(cnt))
	//Массив DOM-элементов, соответсвующий данным (для стилизации) 
	let els = Array.from(Array(cnt), () => Array(cnt))

	async function move(r,c){
		if(arr2D[r][c]) //Если ячейка не пуста, выходим
			return
		
		arr2D[r][c] = currSign; //Пишем символ в ячейку
		//Создаем 5-местный массив из Х или 0 для проверки победителя
		let currMask= Array(3).fill(currSign)
		
		moveX = !moveX //Меняем игрока
		
	  await tick() 
		//После каждого хода кол-во ячеек в ряду может стать равным 5.
		//Проверим это.
		checkHor(cnt,r,els,currMask)
		checkVert(cnt,c,els,currMask)
		checkLeftDiag(cnt,r,c,els,currMask)
		checkRightDiag(cnt,r,c,els,currMask)
		
		
	}
	
</script>

<div class='field'>
	<div class='control'>
  	<div style="padding-bottom: 7px;">
	   	Ход: {currSign}
  	</div>
		<input type=range bind:value={cnt} min=3 max=5>
	  <button on:click={reset}>reset</button>
	</div>
	
	 <div  bind:clientWidth={wrp_width}  
				style='
							 --font_size:{(49/cnt)+'vw'};
							 --wrp_height:{wrp_width+'px'}; 
                --cell_size:{(wrp_width/cnt)+'px'} ' 
				class='wrapper'>
		 
		   {#each arr2D as row, irow }
		       {#each  row as col, icol}
		           <div id={irow.toString()+'-'+icol.toString()} 
										style='--curSign:{currSign}; grid-area:{irow+1}/{icol+1}/{irow+2}/{icol+2}'
										class='box'
										on:click={()=>move(irow,icol)}
								 bind:this={els[irow][icol]}
										>
								 {#if col!==undefined}
     							 {col}
								 {/if}
		           </div>
		      {/each}
	     {/each}
        </div>
	
	 
</div>

<style>
	:global(.line){
		background:blue !important;
	}
	.control{
		display:flex;
		align-items: center;
		width: 55%;
    justify-content: space-around;
	}
	.field{
		display: flex;
    place-items: center;
		flex-direction:column;
		min-height:100vh;
		padding:10px;
		background:aqua;
	}
	.box{
		display:inline-flex;
		justify-content: center;
    align-items: center;
		font-size:var(--font_size); 
		background:#4b8051;
		color:white;
	  font-family:Arial;
		cursor:pointer;
	}
	.box:hover {
		background:yellowgreen;
		color:black;
		border-radius:25%;
  }

	.wrapper{
		display: grid;
		min-width:100px;
		width:55%;
		margin:10px 0;
		height:var(--wrp_height);
    grid-gap: 1px;
		grid-auto-columns:var(--cell_size);
		grid-auto-rows:var(--cell_size);
		background-color: transparent;
	}
</style>