<script>
    import { location } from "svelte-spa-router";
    import Router from "svelte-spa-router";
    import Art_2_1 from "./art_2_1.svelte";
    

    const routes = {
        "/art_2_1": Art_2_1
        
    };

    const prefix = "/pagetwo";
</script>

<div>
    <p style="text-align: right;">{$location}</p>

    <h1>CRUD</h1>
    <Router {routes} {prefix} />
</div>
