<script>
    import { location } from "svelte-spa-router";
    import Router from "svelte-spa-router";
    import Art_1_1 from "./art_1_1.svelte";
    

    const routes = {
        "/art_1_1": Art_1_1
    };

    const prefix = "/pageone";
</script>

<div>
    <p style="text-align: right;">{$location}</p>

    <h1>ToDO List</h1>
    <Router {routes} {prefix} />
</div>
