<script>
    import { location } from "svelte-spa-router";
    import Router from "svelte-spa-router";
    import Art_4_1 from "./art_4_1.svelte";
    import Art_4_2 from "./art_4_2.svelte";
    

    const routes = {
        "/art_4_1": Art_4_1,
        "/art_4_2": Art_4_2,
        
    };

    const prefix = "/page4";
</script>

<div>
    <p style="text-align: right;">{$location}</p>

    <h1>4 Страница</h1>
    <Router {routes} {prefix} />
</div>
